extends ../layout

block content
  .page-header
    h3 Status: #{status}

  form.form-horizontal(action='/', method='GET')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Home