extends ../layout

block content
  .page-header
    h3 Test ID: #{id}
    h4 When you're ready click on Start test.
    h4 [TBD] Instructions

  form.form-horizontal(action='/cv/test/start', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='testId') Test ID
        .col-sm-7
          input.form-control(type='text', name='testId', id='testId', value=id)
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Start Test