extends ../layout

block content
  .page-header
    h3 Test

  div(class="panel panel-default")
    div(class="panel-heading")
        h3 Technical Screen Test ##{id}
    div(class="panel-body") 
        p Hello [NAME]
        br
        p In order to know you better, we'd like you do an exercise. You'll have a maximum of [TIME] minutes that you can't stop once you start.
        p When you're ready, press on Start Button.
    form.form-horizontal(action='/test/start', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='testId') Test ID
          .col-sm-7
            input.form-control(type='text', name='testId', id='testId', value=id)
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Start Test